<html>
	<head>
		<title>Bulletin-Search-Delete</title>
	</head>

	<body>
		<nav class="nav">
			<a href="/" class="bulletin">Home</a>
			<a href="/add" class="add">New Message</a>
		</nav>


		<% if (message) { %>
			<p><%- message %></p>
		<% } %>

		<form action= "/search" method="get">
			<input type="text" name="search" placeholder="Search for items"/>
			<button>Search</button>
		</form>

		<h1>Messages</h1>
		<hr>
		<table>
			<% for (let i = 0; i < title.length; i++) { %>
				<tr>
					<td><%= title[i].id %></td>
					<td><%= title[i].title %></td>
					<td><%= title[i].body %></td>
					<td><%= title[i].created %></td>
				</tr>
			<% } %>
		</table>
		<hr>
		
		</form>
		<form action="/delete" method="delete">
			<input type="text" name="delete" placeholder="Delete title"/>
			<button formmethod="delete">DELETE</button> 
			</form>
	</body>
</html>
